<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <div class="post-edit">
    <ul>
      <li>
        <form method="post">
          <span>{{p.likes}}</span>
          
          {% if user.name and user.name != post.author.name %}
          {% if not liked %}
          <a class="like-button" role="button" name = "like" href="#">Like</a>
          <input type="hidden" name="post_id" value="p.key().id()">
          {% else %}
          <a class="like-button" role="button" name = "like" href="#">Like</a>
          {% endif %}
          {% endif %}
        </form>
      </li>
      <li><a class="comment-button" role="button" href="#">Comment</a></li>
      <li><a class="edit-button" role="button" href="#">Edit</a></li> 
    </ul>
  </div>
</div>
